*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham, sans-serif;
    font-weight: normal;
    font-size: 30px;
}

html, body {
    margin: 0;
    padding: 0;
    background: whitesmoke;
    display: flex;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 100vh;

}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    /*min-height: 100vh;*/
    /*min-width: 420px;*/
    border-radius: 10px;
    background-color: black;
    padding: 5px;
}

.calculator > .output {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;


    height: 100px;
    border-radius: 10px;
    background-color: rgb(141, 158, 116);
    font-size: 100px;

}


.calculator > .keyboard {
    display: flex;
    margin-top: 10px;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: center;

}

.calculator > .keyboard > * button {
    display: flex;
    min-height: 100px;
    min-width: 100px;
    width: 100px;
    height: 100px;
    color: white;
    justify-content: center;
    align-items: center;
}

.calculator > .keyboard > * button:hover {
    background-color: rgb(234, 233, 233);
}

.calculator > .keyboard > .numbers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    max-width: 330px;
    min-width: 330px;
    gap: 10px;
}


.calculator > .keyboard > .numbers > button {
    background-color: grey;
}

.calculator > .keyboard > .numbers > button {
    background-color: grey;
}

.calculator > .keyboard > .operands {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.calculator > .keyboard > .operands > button {
    background-color: aqua;
}




